/* Style for the Disclaimer Section */
.disclaimer {
    background-color: #ff0000;
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    position: relative; /* Ensure the disclaimer is positioned correctly */
}

/* Scrolling Disclaimer Styles */
.disclaimer marquee {
    white-space: nowrap; /* Prevents line breaks */
}

#ppf-introduction {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Rest of your styles */
/* Style for the PPF Introduction Section */
#ppf-introduction {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

/* Style for the Text within the Section */
#ppf-introduction p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align: left;
}

/* Additional Styles (customize as needed) */
#ppf-introduction h3 {
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
}
/* Style for the Header */
.header {
    display: flex;
    justify-content: center; /* Center horizontally */
 align-items: center;/* Center vertically */
    height: 10vh; /* 100% viewport height */
    background-color: #333; /* Background color for the header */
    color: #fff; /* Text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
}

  
  
  
ul {
    list-style-type: none;
    padding: 0;
}

/* Style for the key points */
ul li {
    margin-bottom: 10px;
}

/* Make the list items bold */
ul li strong {
    font-weight: bold;
}

/* Center the heading */
h2 {
    text-align: left;
    margin-top: 20px;
}

/* Add some space between the heading and the list */
h2 + ul {
    margin-top: 10px;
}
#tax-minimization-methods {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#tax-minimization-methods p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align: left;
}

#tax-minimization-methods h3 {
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
}
/* Style for the Image Container */
.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 20px; /* Adjust margin as needed */
}

/* Style for the Small Image */
.small-image {
    max-width: 500px; /* Adjust the maximum width as needed */
    max-height: 500px; /* Adjust the maximum height as needed */
}
